extends ../layout

block content
  script.
    const herokuAPI = "/api",
      courseID = "#{courseID}",
      needs = ["courseTitle", "unifiedGradebook"];
  
  script(src="/js/middleman_admin.js")
  br
  .container(style="margin-top: 25px;")
      .row
          .col-md-1
          .col.form-inline
              a.btn.btn-lg(href='/admin/homepageEdit')
                  i.fa.fa-chevron-left
              h2#adminPanelTitle='Loading title...'
          .col-md-1
  hr

  div
    table.table.table-hover.table-striped
      thead.thead-dark(style="font-size: 0.8rem;")
        tr
          th
          th 
          th
          each module in moduleTitles
            th(scope="col" colspan="2")=module.title
      
      thead.thead-dark(style="font-size: 0.8rem;")
        tr
          th#student_name Student Name
          th#student_id Student ID
          th#team_name Team Name
          each module in moduleTitles
            th(id=`practice_${module.id}`) Practice
            th(id=`quiz_${module.id}`) Quiz

      tbody#gradebook
        tr
          td
            img(src="https://i.gyazo.com/c45fc9a6995912367a142ca33702366a.gif")

